[submodule "Assignment1/Step2/NfcShield"]
	path = Assignment1/Step2/NfcShield
	url = https://github.com/adafruit/Adafruit_NFCShield_I2C.git
[submodule "Assignment1/Step2/libraries/NfcShield"]
	path = Assignment1/Step2/libraries/NfcShield
	url = https://github.com/adafruit/Adafruit_NFCShield_I2C.git
